.favorite-btn {
    position: absolute;
    right: -18px;
    top: 18px;
    background-color: white;
    width: 35px!important;
    height: 35px;
    border-radius: 50%;
    font-size: 22px;
    padding-left: 10px;
    color: #29ABE0;
}

.is-favorite {
    background-color:#29ABE0!important;
    color: white!important;
}