/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900'); 


* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.5rem;
}